* {
	box-sizing: border-box;
}

body {
	background-color: $colour_offwhite;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e7e7bf' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
	color: $colour_black;
	font-family: $font_body;
	margin: 0;
	padding: 40px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	position: relative;
}

strong em,
strong b {
	font-style: normal;
}

strong,
b {
	font-weight: 600;
}