.r-card {
	box-shadow: 8px 8px 0 $colour_primary;
	color: $colour_offblack;
	display: flex;
	flex-direction: column;
	flex-basis: 30.5%;
	margin-bottom: 50px;
	position: relative;

	&:hover {
		box-shadow: 8px 8px 0 $colour_secondary;
	}

	&__image {
		@include aspectBox(1, .5);
		background-color: $colour_secondary;
		background-position: center;
		background-size: cover;
		order: -1;
		pointer-events: none;
		position: relative;
	}

	&__title {
		background: rgba($colour_white, .8);
		color: $colour_secondary;
		flex-grow: 1;
		line-height: 1.35;
		padding: 15px 20px;
	}

	&__link {
		display: block;

		&:after {
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}