// Colours
$colour_white: rgba(255, 255, 255, 1);
$colour_offwhite: rgba(247, 247, 247, 1);
$colour_background: rgba(243, 243, 243, 1);
$colour_black: rgba(20, 29, 38, 1);
$colour_offblack: rgba(36, 36, 36, 1);

$colour_primary: rgba(255, 205, 44, 1);
$colour_secondary: rgba(32, 46, 59, 1);

$colour_grey_dark: rgba(125, 132, 138, 1);
$colour_grey_medium: rgba(151, 157, 161, 1);
$colour_grey_light: rgba(177, 181, 185, 1);
$colour_grey_bg: rgba(232, 234, 235, 1);

$colour_rgb_114: rgba(114, 114, 114, 1);
$colour_rgb_147: rgba(147, 147, 147, 1);
$colour_rgb_170: rgba(170, 170, 170, 1);
$colour_rgb_214: rgba(214, 214, 214, 1);
$colour_rgb_230: rgba(230, 230, 230, 1);
$colour_rgb_243: rgba(243, 243, 243, 1);
$colour_rgb_250: rgba(250, 250, 250, 1);

// Fonts
$font_fallback: Helvetica, Roboto, Arial, sans-serif;
$font_heading: $font_fallback;
$font_body: $font_fallback;